.board {
    background-color: #E0C097;
    height: 80vh;
    width: 80vh;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty-board {
    background-color: #E0C097;
    height: 80vh;
    width: 80vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board__tbody {
    height: 100%;
    width: 100%;
}