.info {
    height: 90%;
    width: 90%;
    margin: 5%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.info-row {
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
}

a {
    margin-left: 10px;
    margin-right: 10px;
}