.instr {
    height: 85vh;
    width: 85vh;
    margin: 1%;
    background-color: #E0C097;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    align-self: flex-start;

}

.instr-row {
    height: 33%;
    width: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
    flex-wrap: nowrap;
}

.instr-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}